nav ul {  
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(51, 51, 51);
    margin-right: 30px;
    margin-left: 30px;
  }
  
nav li {
    float: left;
  }
  
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
  }
  
nav li a:hover {
    background-color: rgb(18, 25, 43);
  }

.active {
    background-color: rgb(96, 96, 199);
    color: white;
  }

body {
    background-color: #515151;
    color: white;
    font-family: 'rodondoregular','Trebuchet MS', sans-serif;
  }

.title {
  text-align: center;
  font-size: 60px;
  margin-top: 4px;
  margin-bottom: 0px;
}

#what-is-rw {
  text-align: right;
  font-size: 35px;
  margin-top: 0px;
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: lighter;
  margin-left: 376px;
  margin-right: 376px;
  color: #000000;
  font-style: italic;
}

.column {
  float: left;
}

.column.right {
  width: 50%;
  color: #000000;
  font-family: 'Trebuchet MS', sans-serif;
  text-align: left;
  font-size: 23px;
}

.column.left {
  width: 50%;
  font-family: 'Trebuchet MS', sans-serif;
  text-align: left;
  font-size: 23px;
}

@media screen and (max-width: 1200px) {
  .column.right, .column.left {
    width: 100%;
  }
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.marge {
  margin-left: 30px;
  margin-right: 30px
}

div.container {
  text-align: center;
}

ul.myUL {
  display: inline-block;
  text-align: center;
}

a:link {
  color: white;
}

a:visited {
  color: white
}

a:hover {
  color: rgb(96, 96, 199);
}

a:active {
  color: rgb(96, 96, 199)
}